*{
    font-family: system-ui;
}
      /* header styles are here */
.head-sec{
    background-image: url(images/banner3.png);
    height: 635px;
    width: 1600px;
    padding-top: 170px;
    text-align: right;
    
}

.head-div{
    color: white;
    padding-right: 220px;

}

.head-title{
    font-size: 70px;
}

.title-btn{
    height: 60px;
    width: 160px;
    font-size: 18px;
    color: dodgerblue;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

     /* main styles are here. */
          
            /* section-1 */
.mid-sec-1{
    display: flex;
}
.mid-div-1>ul>li{
   list-style-type: square;
   font-size: 19px;
}

.mid-title{
    font-size: 40px;
}
 .mid-div-1{
    margin-top: 400px;
    width: 400px;
    
 }

 .mid-img{
    margin: 150px 200px;
    margin-right: 100px;
 }

 .mid-para{
    font-size: 20px;
 }

           /* section-2 */

.mid-title-2{
    font-size: 40px;
    text-align: center;
}    

.mid-sec-2>div.mid-icon{
    display: flex;
    margin: 50px 100px;
    justify-content: center;
}

.inside-div{
    padding-right: 80px;
    width: 250px;
}

.inside-div>h3{
    font-size: 30px;
}

.inside-div>p{
    font-size: 22px;
    font-weight: 500;
    color: grey;
}

       /* section-3 */

.mid-sec-3{
    background-image: url(images/gradient1.png), url(images/watch.png);
    background-position: left, right;
    margin: 120px 300px;
    height: 301px;
    width: 1100px;
    border-radius: 8px;
}

.sec-3-div{
    font-size: 35px;
    color: white;
    row-gap: 10px;
    padding: 25px 80px;
}

        /* footer styles are here. */

.foot-sec{
    width: 1600px;
    height: 530px;
    background-color: black;
    color: white;
    display: flex;
}

.last-part-1{
    width: 400px;
    padding: 100px 200px;
}

.last-part-2{
    width: 400px;
    padding: 100px 50px;
    
}

.foot-h2{
    font-size: 45px;
}

.last-part-1>p{
    font-size: 18px;
}

.img-div{
   display: flex;
   padding-right: 20px;
    
}

.input-part>input{
    width: 350px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 30px;
    margin-bottom: 20px;
}

.footer-btn{
    height: 60px;
    width: 160px;
    font-size: 18px;
    background-color: rgb(12, 121, 230);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}